/* Commentaires en csss */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'police3';
    src: url('police/police3.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'police3bold';
    src: url('police/police3bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'police2';
    src: url('police/police2.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'police2bold';
    src: url('police/police2bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'flowers';
    src: url('police/flowers.ttf');
    font-style: normal;
}

header {
    
    margin-top:20px;
	background-color:rgba(0,0,0,0.1);
	width:100%;
    height:5%; 
	border-top:1px solid black;
	border-bottom:1px solid black;
    color: white;
    font-size: 15px;
  	font-family: "flowers","Helvetica Neue";
    padding: 4px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
}

/* Design du body */
body {
    
    background-image: url(Fond_Ecran.jpg);
    background-size: cover;
    background-attachment: scroll; /* image de fond défile avec le texte*/
    background-repeat: no-repeat; /* Repetition de l'image de fond*/
    background-position: top left; /*position de l'image de fond */
}

/* Affichage du logo */
img {

    border-radius: 5px; /* On arrondi les rebords */
}

/* Design du bloc du formulaire d'inscription  */

.formulaire2{
    width: 400px;
    height:550px;
    background-color: rgba(223,223,223,0.2);
    margin-left: 300px;
    margin-top: 50px;
    padding-top: 25px;
    padding-left: 0px;
    border-radius: 15px;
    -webkit- border-radius: 15px;
    -o- border-radius: 15px;
    -moz- border-radius: 15px;
    color:white;
    font-weight: bolder; /*caractères gras*/
    box-shadow: inset 4px 4px 4px 4px  rgba(0,0,0, 0.5);
    
}

/* Formulaire de connexion */
.formulaire2 input[name='nom'],input[name='mdp'], input[name='pseudo'], input[name='age'], input[type='telephone'] {
    width:200px;
    height:35px;
    display: flex; /* Placement des boutons cotes à cotes*/
    flex-direction: column; /* placement en colonnes */
    text-align: center;
    border: 0px;
    margin-left: 100px;
    border-radius:5px;
    -webkit- border-radius: 15px;
    -o- border-radius: 15px;
    -moz- border-radius: 15px;
    
}


.formulaire2 input[type='sexe'], input[type='securite']{
   
    margin-left: 160px;
}

.formulaire2 input[type='submit']{
    
    width:160px;
    height: 50px;
    border-radius:5px;
    margin-left: 130px;
    background-color: whitesmoke;
    font-size: 20px;
    font-family: "police2", sans-serif;
}

.formulaire2 input[type='submit']:hover{
    
    width:160px;
    height: 50px;
    border-radius:5px;
    margin-left: 130px;
    background-color: blue;
    font-size: 20px;
    color: white;
    font-family: "police2bold", sans-serif;
}

.phrase p {
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-style: italic;
    color:white;
    padding-left: 20px;
    
}
em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

label {
    margin-left: 100px;
    font-family: "Helvetica Neue";
    text-align: center;
    font-weight: normal;
    
}



p
{
    font-size: medium; 
    font-family: fantasy, "Arial Black", sans-serif;
    font-style: normal; /* caracteres italiques*/
	text-align: left; 
    color: blue;
}